<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984944521455-eumni1pt5n10sjn96dt6f9da0ju3ck2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984944521455-eumni1pt5n10sjn96dt6f9da0ju3ck2f</string>
	<key>API_KEY</key>
	<string>AIzaSyAHsj1fpBSGqohp4YaucQn2rjoXExIYZ4U</string>
	<key>GCM_SENDER_ID</key>
	<string>984944521455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.event-calender-sad</string>
	<key>PROJECT_ID</key>
	<string>eventcalenderlogin</string>
	<key>STORAGE_BUCKET</key>
	<string>eventcalenderlogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984944521455:ios:f7563ecaa66e784131eb1a</string>
</dict>
</plist>